<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>
		<!-- <typeAlias type="blueup.admin.vo.ProductVo" alias="productvo"/>
		<typeAlias type="blueup.admin.vo.ProductContentVo" alias="productcontentvo"/>
		<typeAlias type="blueup.admin.vo.AdminCategoryDetailVo" alias="admincategorydetailvo"/> -->
		<typeAlias type="board.vo.UserVo" alias="userVo"/>
		<typeAlias type="board.vo.BoardVo" alias="boardVo"/>
		<typeAlias type="board.Criteria" alias="cri"/>
		<typeAlias type="board.vo.BoardVo" alias="boardVo"/>
		
		
	</typeAliases>
	<mappers>
		<mapper resource="mappings/board-mapping.xml" />
		<!-- <mapper resource="mappings/product-mapping.xml" />
		<mapper resource="mappings/stock-mapping.xml" />
		<mapper resource="mappings/cart-mapping.xml" /> -->

	</mappers>
</configuration>